<!DOCTYPE html>
<html>
<head>
    <title>Résultats</title>
</head>
<body>
    <h1>Analyse du texte</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Numéro de la phrase</th>
                <th>Type</th>
                <th>Polarité TEXTBLOB</th>
                <th>Polarité VADER</th>
                <th>Intensité</th>
                <th>Subjectivité</th>
            </tr>
        </thead>
        <tbody>
            {% for row in analysis %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Résumé</h2>
    <ul>
        <h3> Type de phrase </h3>
        <li>Interrogatives: {{ types_summary['Interrogative'] }}</li>
        <li>Exclamatives: {{ types_summary['Exclamative'] }}</li>
        <li>Neutres: {{ types_summary['Neutre'] }}</li>
    </ul>
    <ul>
        <h3> Analyse de sentiment </h3>
        <h4>TEXTBLOB</h4>
        <li>Positives: {{ polarity_summary_textblob['Positive'] }}</li>
        <li>Négatives: {{ polarity_summary_textblob['Negative'] }}</li>
        <li>Neutres: {{ polarity_summary_textblob['Neutre'] }}</li>

        <h4>VADER</h4>
        <li>Positives: {{ polarity_summary_vader['Positive'] }}</li>
        <li>Négatives: {{ polarity_summary_vader['Negative'] }}</li>
        <li>Neutres: {{ polarity_summary_vader['Neutre'] }}</li>
    </ul>
    <ul>
        <h4>Sensibilité de la phrase</h4>
        <li>Objectives: {{ subjectivity_summary['Objective'] }}</li>
        <li>Subjectives: {{ subjectivity_summary['Subjective'] }}</li>

        <li>Intensité Forte: {{ intensity_summary['Forte'] }}</li>
        <li>Intensité Faible: {{ intensity_summary['Faible'] }}</li>
    </ul>
</body>
</html>
