<!DOCTYPE html>
<html>
<head>
    <title>Résultats</title>
</head>
<body>
    <h1>Analyse du texte</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Numéro de la phrase</th>
                <th>Type</th>
                <th>Polarité</th>
                <th>Subjectivité</th>
            </tr>
        </thead>
        <tbody>
            {% for row in analysis %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Résumé</h2>
    <ul>
        <li>Interrogatives: {{ types_summary['Interrogative'] }}</li>
        <li>Exclamatives: {{ types_summary['Exclamative'] }}</li>
        <li>Neutres: {{ types_summary['Neutre'] }}</li>
    </ul>
    <ul>
        <li>Positives: {{ polarity_summary['Positive'] }}</li>
        <li>Négatives: {{ polarity_summary['Negative'] }}</li>
        <li>Neutres: {{ polarity_summary['Neutre'] }}</li>
    </ul>
    <ul>
        <li>Objectives: {{ subjectivity_summary['Objective'] }}</li>
        <li>Subjectives: {{ subjectivity_summary['Subjective'] }}</li>
    </ul>
</body>
</html>
