body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    height: 100%;
}

#mots-cles {
    flex: 1;
    padding: 20px;
}

#visualisation-texte {
    flex: 2;
    padding: 20px;
    overflow-y: scroll;
}

#ouvrir-fichier {
    flex: 1;
    padding: 20px;
}

#statistic {
    padding: 20px;
}


input[type="text"], input[type="file"], button {
    margin-bottom: 10px;
}
